# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = animenewsnetwork.settings

[deploy]
url = http://139.199.168.210:6800/addversion.json
project = animenewsnetwork
